doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='./CSS/contact.css')
header
  nav.navbar
    // LOGO
    .logo Express_CP
    // NAVIGATION MENU
    ul.nav-links
      // NAVIGATION MENUS
      .menu
        li
          a(href='/') Home
        li
          a(href='ourservice') Services
        li
          a(href='contact') Contact
main
  .wrapper
    form.form
      .pageTitle.title Sign Up 
      .secondaryTitle.title Please fill this form to sign up.
      input.name.formEntry(type='text' placeholder='Name')
      input.email.formEntry(type='text' placeholder='Email')
      textarea.message.formEntry(placeholder='Message')
      input.termsConditions(type='checkbox' value='Term')
      label(style='color: grey' for='terms')
        | I Accept the 
        span(style='color: #0e3721') Terms of Use
        |  &amp; 
        span(style='color: #0e3721') Privacy Policy
        | .
      br
      button.submit.formEntry(onclick='thanks()') Submit
