doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./CSS/home.css')
  title Document
header
  nav.navbar
    // LOGO
    .logo Express_CP
    // NAVIGATION MENU
    ul.nav-links
      // NAVIGATION MENUS
      .menu
        li
          a(href='/') Home
        li
          a(href='ourservice') Services
        li
          a(href="contact") Contact
section.firstsection
  .box-main
    .firstHalf
      h1#web.text-big
        | Web Technology
      p.text-small
        | HTML stands for HyperText Markup
        | Language. It is used to design
        | web pages using a markup language.
        | HTML is the combination of Hypertext
        | and Markup language. Hypertext
        | defines the link between the web
        | pages. A markup language is used
        | to define the text document within
        | tag which defines the structure of
        | web pages. HTML is a markup language
        | that is used by the browser to
        | manipulate text, images, and other
        | content to display it in the required
        | format.
section.secondsection
  .box-main
    .secondHalf
      h1#program.text-big
        | C Programming
      p.text-small
        | C is a procedural programming language.
        | It was initially developed by Dennis
        | Ritchie as a system programming
        | language to write operating system.
        | The main features of C language include
        | low-level access to memory, simple set
        | of keywords, and clean style, these
        | features make C language suitable for
        | system programming like operating system
        | or compiler development.
section.section
  .paras
    h1.sectionTag.text-big Java
    p.sectionSubTag.text-small
      | Java has been one of the most
      | popular programming language
      | for many years. Java is Object
      | Oriented. However it is not
      | considered as pure object oriented
      | as it provides support for primitive
      | data types (like int, char, etc) The
      | Java codes are first compiled into byte
      | code (machine independent code). Then
      | the byte code is run on Java Virtual
      | Machine (JVM) regardless of the
      | underlying architecture.
footer.background
  p.text-footer
    | Copyright &copy;-All rights are reserved
