doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Our Services 
  link(rel='stylesheet' href='./CSS/services.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
header
  nav.navbar
    // LOGO
    .logo Express_CP
    // NAVIGATION MENU
    ul.nav-links
      // NAVIGATION MENUS
      .menu
        li
          a(href='/') Home
        li
          a(href='ourservice') Services
        li
          a(href='contact') Contact
.container
  .details
    h2 Services
    p Our company offer web design and development
  .main-box
    .box.box-grey
      .icon
        i.fas.fa-desktop
      h2 Web Technology
      hr
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda labore.
      a(href='#') Read More
    .box.box-red
      .icon
        i.fas.fa-globe
      h2 C Programming
      hr
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda labore.
      a.white-border(href='#') Read More
    .box.box-grey
      .icon
        i.fas.fa-search
      h2 Java
      hr
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda labore.
      a(href='#') Read More
